body{
    background-color: #230312;
}
.bg-nav{
    background-color: #1d030f;
}

.orange{
    color: darkorange;
}

.btn-orange{
    background-color: #F86228;
    color: #fff;
}

.cartsRowstyle{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 0 10px;
    padding: 15px;
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}